body{
    background-color: aquamarine;
}
h1{
    text-align: center;
    font-weight:bold;
    text-decoration:underline;
}
h2{
    color: blue;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}
h3{
    color: red;

}