body{
    background-color: black
}

h1{
    color:aqua;
    text-align:center;
    font-weight:bold;
}

h2{
    color:white;
    text-align:right;
    font-style:italic;
    text-decoration:underline;
}
p{ font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.common{
    background-color: gray;
    border: 2px solid white;
    position:absolute;
}

.header{
    top:5px;
    left:15px;
    right:25px;
    height:100px;
}

.left{
    top:115px;
    left:15px;
    width:100px;
    bottom:40px;
}

.main{
    top:115px;
    left:130px;
    right:140px;
    bottom:40px;
}

.right{
    top:115px;
    right:25px;
    width:100px;
    bottom:40px;
}

.footer{
    bottom:5px;
    height: 25px;
    left:15px;
    right: 25px;
    position:fixed;
    z-index: 1;
}

.redtext{
    color:red;
}

.purpletext{
    color:purple;
}

